# Unitree Go2 robot connection
ROBOT_IP=
ROBOT_SERIAL=
ROBOT_CONNECTION_MODE=LocalSTA

# Google Gemini API
GEMINI_API_KEY=your_api_key_here

# Dashboard web
DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=8000
